
{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h2>Gráfico de barras</h2>
        <canvas id="myChart" width="400" height="120"></canvas>
        <script>
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart =  new Chart(ctx, {
                type: 'bar',
                data: {
                labels: [{% for estabelecimento in estabelecimentos %}  '{{ estabelecimento.nome | slice:":10" }}',  {% endfor %}],
                datasets: [{
                    label: 'Número de Agendamentos',
                    data: [{% for estabelecimento in estabelecimentos %}  {{ estabelecimento.agendamentos }},  {% endfor %}],
                    borderWidth: 1,
                    barPercentage: 0.6, 
                    categoryPercentage: 1,
                    backgroundColor: '#06d6a0',
        
                }]
                },
                options: {
                    indexAxis: 'y',
                    responsive: true,
                    scales: {
                        y: {
                            beginAtZero: true,
                            position: 'left', 
                            min: 0 
                        },
                    },
                }
            });

        </script>
    </div>

{% endblock %}
