{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2 style="margin-bottom: 20px;">Gráfico de pizza</h2>
        <canvas id="myChart2" width="400" height="400"></canvas>
        <script>
            var ctx = document.getElementById('myChart2').getContext('2d');
            var estabelecimentosData = [
                {% for dado in dados %}
                    {
                        nome: '{{ dado.nome | slice:":10" }}',
                        qtde: {{ dado.qtde }},
                        color: '{{ dado.color }}'
                    },
                {% endfor %}
            ];
        
            var myChart2 = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: estabelecimentosData.map(function(dado) {
                        return dado.nome;
                    }),
                    datasets: [{
                        label: 'Número de qtde',
                        data: estabelecimentosData.map(function(dado) {
                            return dado.qtde;
                        }),
                        backgroundColor: estabelecimentosData.map(function(dado) {
                            return dado.color;
                        }),
                        borderColor: estabelecimentosData.map(function(dado) {
                            return dado.color;
                        }),
                        borderWidth: 2
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            display: true,
                            position: 'top',
                        }
                    }
                }
            });
        </script>
        
        
    </div>
{% endblock %}
